memoline_server/memoline/memoline/bin/
memoline_server/memoline/memoline/obj/
memoline_server/memoline/.vs/memoline/v15/.suo
memoline_server/memoline/.vs/
memoline_server/memoline/memoline.Business/bin/
memoline_server/memoline/memoline.Business/obj/
memoline_server/memoline/ensarduman.Utils/bin/
memoline_server/memoline/ensarduman.Utils/obj/
memoline_server/memoline/memoline.Model/obj/
memoline_server/memoline/memoline.Model/bin/
memoline_server/memoline/memoline.Test/bin/
memoline_server/memoline/memoline.Test/obj/
memoline_server/memoline/memoline.Utils/obj/Debug/netcoreapp2.0/memoline.Utils.csproj.FileListAbsolute.txt
memoline_server/memoline/memoline.Utils/obj/Debug/netcoreapp2.0/memoline.Utils.csprojResolveAssemblyReference.cache
memoline_server/memoline.Server/memoline.Model/obj/
memoline_server/memoline.Server/memoline.Business/obj/
memoline_server/memoline.Server/memoline.Model/bin/
memoline_server/memoline.Server/memoline.Business/bin/
memoline_server/memoline.Server/memoline.DTO/obj/
memoline_server/memoline.Server/memoline.DTO/bin/
memoline_server/memoline.Server.Core/memoline.Server/memoline.Model/obj/
memoline_server/memoline.Server.Core/memoline.Server/memoline.Business/obj/
memoline_server/memoline.Server.Core/memoline.Server/memoline.Model/bin/
memoline_server/memoline.Server.Core/memoline.Server/memoline.Business/bin/
memoline_server/memoline.Server.Core/memoline.Server/memoline.Utils/obj/
memoline_server/memoline.Server.Core/memoline.Server/memoline.Utils/bin/
memoline_server/memoline.Server.Core/memoline.Server/memoline.WebApi/obj/
memoline_server/memoline.Server.Core/memoline.Server/memoline.WebApi/bin/
memoline_server/memoline.Server.Core/memoline.Server/memoline.DTO/obj/
memoline_server/memoline.Server.Core/memoline.Server/memoline.DTO/bin/
memoline_server/memoline.Server.Core/memoline.Server/.vs/
memoline_server/memoline.Server.Core/memoline.Server/.vscode/
memolinedbsamplequeries.sql
MemolineLiveDB_2019_01_02.sql
MemolineLiveDB_2019_02_27.sql
MemolineTestDB_2019_02_27.sql
memoline_android/memoline.jks
memoline_android/memoline.jks.txt
memoline_android/MemoLineAndroidApp/.gradle
memoline_android/MemoLineAndroidApp/app/build/
memoline_android/MemoLineAndroidApp/build/
memoline_android/MemoLineAndroidApp/local.properties